.aboutme_container{
    /* width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative; */
    margin-top: 50px;
}
.intro{
    border: red 2px solid;
}
.details{
    border: red 2px solid;
}
.about_text {
    font-size: 18px;
    color: #000;
}

.social_links {
    float: right;
    margin-bottom: 10px;
}
.social_links a {
    display: inline;
    text-decoration: none;
    margin-right: 20px;  
}
.social_links a i {
    color: #000;
    font-size: 24px;
}
.chinedu_pic {
    border-radius: 100px;
    box-shadow: 0 0 0 1px #000;
    float: left;
    margin: 10px 30px 30px 10px;
    /* opacity: 0.7; */
    border-style: none;
}
.work_container {

}
.work li {
    list-style: none;
    list-style-position: outside;
    list-style-image: none;
    list-style-type: none;
}
.edu_container {

}