.first_container{
    width: 100%;
    height: 100vh;
    background: url(../images/about.jpg) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.first_banner{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 50px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}

.about_container {
    position: relative;
    bottom: 200px;
    top: -50px;
    border: 2px red solid;
}

.about_container h2 {
        font-family: Gotham XNarrow A,Gotham XNarrow B,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-style: normal;
        color: #000;
        font-size: 40px;
        margin-bottom: 20px;
    }


.about_text {
    font-size: 16px;
    border: 2px black solid;
}

.about_image {
    
}

.chinedu_pic {
    border-radius: 100px;
    box-shadow: 0 0 0 1px #000;
    float: left;
    margin: 10px 30px 30px 10px;
    opacity: .7;
    /* box-sizing: border-box;
    line-height: 1.7; */
    border-style: none;
}
.second_container{
    width: 100%;
    height: 100vh;
    background: url(../images/welcome.jpg) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}