/*--------------------------------------------------------------
# About Me Styles
--------------------------------------------------------------*/
.aboutme_container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.about_text {
    font-size: 18px;
    color: #000;
}

.social_links {
    float: right;
    margin-bottom: 10px;
}
.social_links a {
    display: inline;
    text-decoration: none;
    margin-right: 20px;  
}
.social_links a i {
    color: #000;
    font-size: 24px;
}
.chinedu_pic {
    border-radius: 100px;
    box-shadow: 0 0 0 1px #000;
    float: left;
    margin: 10px 30px 30px 10px;
    border-style: none;
}
.heading {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    border-bottom: 2px solid #000;
}
/*--------------------------------------------------------------
# Work Experience Styles
--------------------------------------------------------------*/
.work_container {
    margin-bottom: 50px;
}

.duration {
    float:right;
}

.company {
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.position {
    color: #EC407A;
    font-weight: 400;
    text-align: left;
}

.work_intro h3{ 
    text-align: right;
}

@media (max-width:767px){
    .work_exp { 
        display:flex; 
        flex-direction: column; 
        text-align:center;
    }
    .work_details { 
        order: 2 
    }
    .work_intro { 
        order: 1 
    }
    .work_intro h3{ 
        text-align: left !important;
    }
}

/*--------------------------------------------------------------
# Academic Qualification Styles
--------------------------------------------------------------*/
.acad_container {
    margin-bottom: 50px;
}