.contact_container {
    margin-top: 100px;  
}
.cont_holder {
    margin-bottom: 200px !important;
}

.contact_intro, label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.submit_btn{
    margin-left: 15px;
}

.error_msg, .btnerror_msg{
    color: red;
}

.btnsuccess_msg{
    color: green;
}
