.contact_container {
    margin-top: 100px;  
}
.container {
    margin-bottom: 200px !important;
}

.contact_intro, label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.submit_btn{
    margin-left: 15px;
}