.card{
    background-color: #000;
    border-radius: 0px;
}

.apart {
    background-color: #fff;
    color: #000;
}

.apart .social_link li i, .apart li a {
    color: #000;
}

.home-footer .card{
    border: none !important;
}

.social_link li{
    display: inline;
    text-decoration: none;
    margin-right: 20px;
}

.social_link li > a:hover{
    text-decoration: none !important;
}

.social_link li i{
    color: white;
    font-size: 24px;
}

ul {
    text-align: center;
}

.clients {
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
}

.myfooter .social_link li > a:hover {
    color: #fff;
}
/* Media Queries */
@media(max-width:425px){
    .clients_img {
        margin-bottom: 20px;
    }   
    
}