.card{
    background-color: #000;
    border-radius: 0px;
}

.apart {
    border-top: 5px solid #fff;
    /* background-color: rgb(27, 27, 27); */
}

.social_link li{
    display: inline;
    text-decoration: none;
    margin-right: 20px;
}

.social_link li > a:hover{
    text-decoration: none !important;
}

.social_link li i{
    color: white;
    font-size: 24px;
}

ul {
    text-align: center;
}

.clients {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
