.banner_container{
    width: 100%;
    height: 100vh;
    background: url(../images/welcome.jpg) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.banner{
    position: absolute;
    bottom: 0;
    left: 0;
    top: -200px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}

.intro_name{
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    font-size: 56px;
    margin-bottom: 0px;
}

.intro_info{
    font-size: 20px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.chinedu_img {
    border-radius: 100px;
}