.nav-link{
    text-transform: uppercase;
}
.nav-item > a:hover {
    border-bottom: 1px solid #000;
}

.nav_link_black{
    color: black !important;
    font-weight: 600;
    text-transform: capitalize;
}

a {
    color: #fff;
}
